[submodule "csrc/cutlass"]
	path = csrc/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "csrc/flash_attn_with_bias_and_mask/cutlass"]
	path = csrc/flash_attn_with_bias_and_mask/cutlass
	url = https://github.com/NVIDIA/cutlass.git
